body {
  background-color: lightcyan;
}

table {
  border-collapse: separate;
  border: solid black 1px;
  border-radius: 6px;
}
.SignIn {
  margin-right: 10px;
}

.LogIn {
  margin-right: 10px;
}
